* {
 margin: 0;
 padding: 0;
}
body{
    background:white;
    height:2000px;

}
.side img{
  margin-top:-350px;
  margin-left:-10px;
}
.slider{
  position:absolute;
  transform:skewY(-10deg);
  z-index:-10;
  transform-origin:top left;
}
.slider figure img{
  float:left;
  height:550px;
  width:10%;
}
.slider figure{
  position:relative;
  width:1000%;
  animation:slider infinite 20s;
  animation-delay:3s ;
}
@keyframes slider {
  5.5%{margin-left:-100%;}
  11%{margin-left:-100%;}
  16.5%{margin-left:-200%;}
  22%{margin-left:-200%;}
  27.5%{margin-left:-300%;}
  33%{margin-left:-300%;}
  38.5%{margin-left:-400%;}
  44%{margin-left:-400%;}
  49.5%{margin-left:-500%;}
  55%{margin-left:-500%;}
  60.5%{margin-left:-600%;}
  66%{margin-left:-600%;}
  71.5%{margin-left:-700%;}
  77%{margin-left:-700%;}
  82.5%{margin-left:-800%;}
  88%{margin-left:-800%;}
  93.5%{margin-left:-900%;}
  100%{margin-left:-900%;}

}
header{
  background: #0b0c22;
  height:80px;
  box-shadow:0px 0px 17px 0px;
  transition:all 0.5s ease-in;
}
.header {
   background:transparent;
    z-index: 10;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
nav ul{
   margin-right:-100px;
   margin-left:700px;
   outline:none;
   margin-top:-60px;
}
nav ul li {
  display: inline-block;
  font-family:cursive;
  outline:none;
  font-size:18px;
}
nav ul li a{
  transition:0.7s ease;
  text-decoration:none;
  color:white;
  outline:none;
  padding:1px 22px;
  border: 1px solid transparent;
}
nav ul li a:hover{
  text-decoration:none;
  font-size:18px;
  outline:none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20),0 17px 50px 0 rgba(0,0,0,0.19);
  color:white;
}
.logo img{
margin-top:0px;
background:white;
margin-left:50px;
height:70px;
width:80px;
border-radius:50px;
border:4px solid deepskyblue;
}
.active{
  color:#e6f9ff;
}
.active:before{
  content:"";
  width:5.5%;
  height:0.0001px;
  position:absolute;
 background-color:deepskyblue;
 font-size:20px;
 margin-top:35px;
 margin-left:-15px;
 border: 1px solid transparent;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20),0 17px 50px 0 rgba(0,0,0,0.19);
 -webkit-transition:0.3s ease;
 -moz-transition:0.3s ease;
 -ms-transition:0.3s ease;
 -o-transition:0.3s ease;
 transition:0.3s ease;
 }
 .active:hover{
   color:#b3ecff;
 }
.active:hover:before{
  content:"";
  position:absolute;
  width:7%;
  margin-left:-20px;
  background-color:white;
}
 .smile{
   background-color:deepskyblue;
   color:#FFF;
   border-radius: 30% 70% 72% 28% / 26% 52% 48% 74%;
   padding:15px;
 }
.smile:hover{
  background-color:white;
  color:deepskyblue;
  padding:20px;
}
.food{
  margin-left:150px;
  margin-top:-10px;
  color:white;
  font-size:20px;
  font-family:'Srisakdi', cursive;
  font-weight:600;
}
ul li{
  display:inline-block;
}
.butt img{
  height:100px;
  margin-left:200px;
  margin-top:-100px;
}
input[type="checkbox"]{
  display:none;
}
.box{
  position:absolute;
  transform:translate(-50%,-50%);
  margin-left:800px;
  margin-top:-45px;
  width:60px;
  height:60px;
  transition:0.5s;
}
.box label{
  position:absolute;
  width:40px;
  height:40px;
  line-height:60px;
  border-radius:50%;
  box-shadow:-1px -1px 4px #edeff1,
  1px 1px 5px #cacfd8;
  display:flex;
  color:gray;
  background:white;
  font-size:20px;
  cursor:pointer;
  transition:0.5s;
  margin-left:-350px;
  margin-top:-42px;
  border:5px solid deepskyblue;
}
.box i{
  color:deepskyblue;
  margin-left:10px;
  margin-top:9px;
}
.box label:hover{
  box-shadow:
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    transform:scale(1.1);
}
.box input{
  width:38%;
  height:70%;
  margin-top:10px;
  margin-left:-200px;
  box-shadow:
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    transform:scale(1.1);
  border-radius:50px;
  outline:none;
  font-family:cursive;
  font-size:17px;
  padding:0px 90px 0px 20px;
  color:black;
  background:white;
  transition:.5s;
  opacity:0;
}
.box input:focus{
  box-shadow:-3px -1px 3px #edeff1,
  2px 2px 2px #cacfd8;
}
#check:checked+.box{
  width:500px;
  transition:all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#check:checked+.box > input{
  opacity:1;
}
#check:checked+.box > label{
  box-shadow:none;
  margin-left:70px;
  border:0px solid transparent;
  background:#0b0c22;
  transform:translateY(-50deg);
  text-align:center;
}
#check:checked+.box > label:hover{
  transform:scale(1);
}
.box a{
  font-size:20px;
  margin-left:-900px;
  margin-top:-150px;
  border-radius:50%;
  position:relative;
  opacity:1;
}
#check:checked+.box > a{
  opacity:1;
  margin-left:-75px;
  margin-top:-80px;
}
#check:checked+.box > a:hover{
  font-size:23px;
  transition:0.3s ease;
}
#toast{
  position:fixed;
  top:0;
  left:10px;
  color:black;
  background-image:url("images/scribe.png");
  background-position:top;
  background-repeat:no-repeat;
  transform:translate(-50%);
  padding:10px 20px 10px 20px;
  text-align:center;
  z-index:10;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
  visibility:hidden;
  opacity:0;
  border-radius:4px;
  font-family: 'Satisfy', cursive;
  font-size:28px;
  line-height:40px;
  word-spacing:10px;
  font-weight:500;
}
#toast.show{
  visibility:visible;
  animation:fadeInOut 3s;
}
@keyframes fadeInOut{
 5%,95%{opacity:1;top:130px;}
 15%,85%{opacity:1;top:80px;}
}
.calender{
  position:relative;
  width:200px;
  height:200px;
  margin-left:500px;
  margin-top:300px;
  color:black;
  z-index:100;
}
