@import "../styles/head-foot.css";
.active:before{
   width:100px; 
   margin:1.5em 0 0 0;
}
.active:hover:before{
  width:60px;
  background-color:white;
}
div #particles-js{
  width:100%;         height:3000px;
  position:absolute;
  z-index:3;
}
.about-us{
  background-image: url("../images/aboutus.png");
  background-repeat: no-repeat;
  font-family: cursive;
  width:100%;
  background-size: cover;
}
.about-overlay{ background:rgba(0, 0, 0, 0.397); }
.about-title{
 color:white;
 padding:20em 2em 5em 0;
}
.about-title h2{
  color:deepskyblue;
  border-bottom: 0.8px solid white;
  font-size:2vw;
  text-align:center;
  width:20%;
  padding:0.5em;
  margin:0 0 0 17em;
}
.about-content{
  display:flex;
  padding:5em 10em 0 0;
}
.about-sub{
  text-align:center;
  border-right:1px solid white;
  padding:2em;
}
.about-sub p{
  font-size:1.2vw;
  color:tomato;
  margin-top:2em;
}
.about-sub h4{ font-size:1.2vw; }
.container{
  display:flex;
  margin:10em 5em -10em 5em ;
  max-width:100%;
}
.img-container{ 
  border:5px solid tomato; 
  max-width:60%;
}
.img-container img{
  width:100%;
  height:100%;
}
.content-container{
max-width:40%;
padding:5em 5em 5em 5em;
color:white;
font-family:cursive;
}
.content-container h2{ color:tomato; }
.content-container p{ padding:2em 0 2em 0; }
.content-container button{
  color:white;
  padding:1.5em 2.5em 1.5em 2.5em;
  background-color:tomato;
  border:2px solid white;
  border-radius: 5%;
  font-family: cursive;
  font-size:12px;
  cursor:pointer;
}
.content-container button:hover{
  background-color: deepskyblue;
  transition: 1.2s;
}
 
 