@import "../styles/head-foot.css";
.top-image{
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url("images/shopping.jpg");
  height:650px;      width:100%;
  background-attachment:fixed;
}
.top-image p{
  font-size:80px;
  color:#1a0000;
  margin-top:-400px;    margin-left:950px;
  text-align:center;
 font-family: 'Cinzel', serif;
}
.top-image button{
  padding:15px;
  font-family:cursive;    font-size:23px;
  color:white;       background:#1a0d00;
  border:2px solid white;
  margin-left:500px;     margin-top:-500px;
  border-radius:40px;
  outline:none;
}
.top-image button:hover{
  background: #663300;    color:white;
  font-size:26px;
  transition:0.6s ease all;
}
.cuisines{ width:1200px;
  display:flex;
  justify-content:space-between;
}
.card{
  position:relative;
  width:300px;   height:370px;
  left:70px;    top:300px;
  transition:0.3s ease-out;
  box-shadow:0 3px 15px rgba(0,0,0,0.7);
}
.card .imagebox{
  position:relative;
  width:100%;   height:100%;
}
.card .imagebox img{
  position:absolute;
  width:110%;   height:80%;
  display:block;
  transition:0.5s;
}
.card .content{
  position:absolute;
  width:100%;  height:40px;
  bottom:-3px;
  background:#ff0066;    color:white;
  transition:all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
  overflow:hidden;
}
.card:hover .content{  width:100%; height:60%;  }
.card .content h2{
  padding-bottom:40px;
  text-align:center;
  font-family:'Cinzel', cursive;
  word-spacing:10px;
}
.card .content p{
  opacity:0;
  text-align:center;
  font-family:cursive;
  transition:0.3s;
}
.card:hover .content p{   opacity:1;  }
.cuisines:hover .card{   transform: scale(0.9);
   opacity:0.5;
}
.cuisines .card:hover {transform: scale(1.1);
  opacity:1;
}
.head-one h1{
  margin-top:450px;   margin-left:550px;
  font-size:50px;
  color:white;
}
.head-one img{
  margin-top:-100px;     margin-left:1100px;
  border-radius:50%;
}
.head-one p{
 color:#e6005c;
 font-family:cursive;
 margin-left:1130px;
 font-size:30px;     font-weight:600;
}
.swiper-container {
  width: 1500px;    height:400px;
  margin-top:50px;
  position:absolute;
}
div .swiper-slide {
  background-position:center;
  height:200px;   width:200px;
  background:transparent;
  position:relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent, #0006);
  border:5px solid white;
  border-radius:50%;
}
.swiper-slide h1{
  color:white;
  margin-top:250px;
  text-align:center;
  font-family:cursive;
}
.col-4{
  flex-basis:25%;
  padding:30px;
  float:left;
  margin-bottom:50px;
}
.col-4 img{  width:300px;   height:400px;
  border:5px solid #b3d9ff;
  border-radius:20px;
}
.small-container h2{
  margin-left:350px;
  padding:50px;
  color:#99ccff;
  word-spacing:20px;       font-size:30px;
  font-family:'Rye', cursive;
}
.rating{text-align:center;
margin-top:30px;
}
.rating h3{
  color:white;
  font-size:30px;
  font-family:cursive;
}
.rating i{color:#ff6600;
 margin-top:20px;}
 .rating p{
   margin-top:20px;
   color:#ff0000;
   font-family:'Arizonia, serif';
 }

