@import "../styles/head-foot.css";
.slider{
  overflow:hidden;
  width:100%;
  height:600px;
}
.slider figure div{
  float:left;
  width:33.3%;
}
.slider figure img{
  width:100%;
  height:600px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  float:left;
}
.slider figure{
  position:relative;
  width:300%;
  animation:animate 20s infinite;
}
.slider h1{
  position:absolute;
  color:mintcream;
  font-size:60px;
  text-align:center;
  padding-top:250px;
  background:rgba(49, 37, 37, 0.4);
  width:33.3%;
  height:350px;
}
@keyframes animate
{
  0%{left:0%;}
  10%{left:0%;}
  20%{left:-100%;}
  30%{left:-100%;}
  40%{left:-200%;}
  50%{left:-200%;}
  60%{left:-100%;}
  70%{left:-100%;}
  80%{left:0%;}
  90%{left:0%;}
  100%{left:0%;}  
}
.container-main{
  display:flex;
  width:100%;
}
.container-img{
  position:absolute;
  margin:-14em 0 0 0;
}
.container-content{
 min-width:50%;
 margin:6em 0 0 3em;
 text-align:center;
}
.container-content p{
  font-size:50px;
  font-family:'Courgette', cursive;
  color: #ffd633;
  word-spacing:30px;
}
.container-content span {
color:#ff80bf;
font-family:'Great Vibes', cursive;
}
.container-content button{
  border-radius:20px;
  border:3px solid black;
  background: #ffd633 ;  color:black;
  padding:2em 5em 2em 5em;
  margin:3em 0 3em 0;
  font-family:'Rye', cursive;
}
.container-content h4{
  color:#ffccf2;
  font-size:50px;
  font-family:'Long Cang', cursive;
}
.calendar{
  max-width:50%;
  padding:4em 0 0 5em;
  text-align:center;
}
.container-cal{
  position:absolute;
  padding:0 0 1.7em 0;
  width:10em; 
  margin:10em 0 0 5.5em;
  background:#ffccf2;
  border:2px solid black;
  -webkit-box-reflect:below 1px linear-gradient(transparent, transparent, #0004);
}
.calendar h1{
  font-family:'Arizonia', cursive;
  margin-left:1em;
  font-size:50px;  font-weight:300;
  color:#ffb3d9;
}
.calendar #month{
  padding:5px 15px;
  font-weight:700;
  font-family:'Rye', cursive;
  font-size:25px;
  background:#ff80bf;  color:#800040;
}
.container-cal #day{
  color: 	#ff3333;
  font-family:'Satisfy', cursive;
  font-size:20px;
}
.container-cal #date{
  color:#cc0066;
  font-weight:700;
  font-size:40px;
}
.container-cal #year{
  padding-top:5px;
  font-weight:700;
  font-size:20px;
  color:#4d001f;
}
.main img, .paw1 img, .paw2 img, .foot1 img, .foot2 img,.tail img{
  position:absolute;
}
.main img{
   margin:2em 0 0 -9.5em;   
   height: 9em;
}
.paw1 img{ margin:10em 0 0 -6.5em;  }
.paw2 img{ margin:11em 0 0 3.5em;  }
.foot1 img{
  height:6em;
  margin:16em 0 0 -7em;
}
.foot2 img{
  height:6em;
  margin:16em 0 0 5.2em;
}
.tail img{
  margin:10em 0 0 5.1em;
  height:10em;
  z-index:-2;
}
.section-container{  margin:10em 0 0 2em; }
section .section-scroll{
    position:absolute;
    background-image:url('../images/quality.jpg');
    height:50em;   width:50em;
    margin:-17em 0 0 -10em;
    background-repeat:no-repeat;
    background-attachment:fixed;
    clip-path:circle(150px);
  }
  .section-title{
    position:absolute;
    margin:1.2em 0 0 2.2em;
    z-index:2;
    font-size:70px;
    color:#f2f2f2;
    font-family:'Arizonia', cursive;
  }
  .section-content{
    margin: 0 2em 0 25em;
    max-width:50%;
    font-size:20px;
    letter-spacing:1.5px;
    line-height:30px;
    font-family:cursive;
    position:absolute;
    color:#d9d9d9;
  }
.swiper-container {
    max-width: 100%;
    padding:25em 0 0 0;
    overflow:hidden;
  }
.swiper-heading{
    float:right;
    position:relative;
    padding:0 0 0 2em;
    background:deepskyblue;  color:white;
    font-family:'Rye', cursive;
    width:40%;
    font-size:30px;
    border:2px solid white;
  }
  div .swiper-slide {
    background-position:center;
    height:500px;   width:332px;
    margin:7em 0 0 0;
    position:relative;
    background:transparent;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent, #0006);
     border:5px solid white;
     border-radius:40px;
     color: #ffffe6;
  }
  .starter h1, .wrap h1,.fruit h1, .veg h1, .dessert h1{
     font-size:60px;
     font-family:'Almendra', serif;
     margin:220px 0 0 80px;
  }
  .starter p, .fresh p, .meal p, .fruit p, .veg p{
    margin:150px 0 0 85px;
    font-size:30px;
  }
  .meal h1, .club h1, .dairy{
    font-size:60px;
    font-family:'Almendra', serif;
    margin:220px 0 0 100px;
  }
  .club p, .refreshment p{
    margin:70px 0 0 100px;
    font-size:30px;
  }
  .wrap p{
    margin:100px 0 0 40px;
    font-size:30px;
  }
  .refreshment h1, .fresh h1{
    font-size:55px;
    font-family:'Almendra', serif;
    margin:220px 0 0 25px;
  }
  .container-delivery{
    width:100%;
    padding:8em 0 0 0;
  }
  .container-heading{
    background:#ff3333;   color:white;
    float:right;
    position:relative;
    padding:0 0 0 2em;
    margin:0 0 0 0;
    font-family:'Rye', cursive;
    width:40%;
    font-size:30px;
    border:2px solid white;
  }
  .container-row{
    display:flex;
    width:100%;
  }
  .container-delivery h1{
    max-width:50%;
    margin: 1em 0 0 5em;  
    color:#ff9999;
    font-family:cursive;    font-size:20px;
    letter-spacing:1.5px;
    line-height:30px;
  }
  .container-row img{
    margin:7em 0 0 0em;
    position:relative;
  }
  .container-line{
    background:#ff3333;
    height:10px; width:100%;
    margin:-6em 0 0 0;
  }
  .clock{
    display:flex;
    position:absolute;
    width:100%;
    margin:8em 0 0 0;
  }
  .clock .message{
    color: #80ff80;
    font-size:30px;
    width:50%;
    font-family:cursive;
    text-align:center;
    margin:0 10em 0 0;
  }
  #clock #time{ display:flex; }
  #clock #time div{
    float:right;
    position:relative;
    cursor:pointer;
    margin:3px;
    padding-bottom:1.5px;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#0004);
  }
  #clock #time div span{
    position:relative;
    width:100px; height:50px;
    background:#2196f3; color:white;
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    z-index:10;
    box-shadow:0 0 0 1px rgba(0,0,0,0.2);
  }
  #clock #time div span:nth-child(2){
   height:30px;
   font-size:10px;
   letter-spacing:2px;
   font-weight:500;
   z-index:9;
   background:#127fd6;
  }
  #clock #time div:last-child span{    background:#FF681F;   }
  #clock #time div:nth-child(1) span{  background:deeppink;  }
  #clock #time div:nth-child(1) span:nth-child(2){  background:#ff3385;  }
  #clock #time div:last-child span:nth-child(2){    background:#FF7F49;  }
 
 

