*{
  margin:0;
  padding:0;
}
body{
  background:#0b0c22;
  height:3000px;
  overflow-X:hidden;
}
body::-webkit-scrollbar{  width:20px; }
body::-webkit-scrollbar-thumb{
  border-radius:100px;
  background:white;
  box-shadow:inset 2px 2px 2px rgba(255, 255, 255, 0.25),inset -2px -2px -2px rgba(0,0,0,0.25);
  max-height:5px;
}
body::-webkit-scrollbar-track{
   margin-top:80px;
   background:#0b0c22;
}
header{
  background: #0b0c22;
  height:5em;
  box-shadow:0px 0px 17px 0px;
  transition:all 0.5s ease-in;
}

.row{  display:flex; }
.row .logo{
  background:white;
  margin:0.4em 2em 0 3em; 
  height:60px; 
  border-radius:50px;
  border:4px solid deepskyblue;
}
.row p{
  color:white;
  font-size:20px;
  margin:1.8em 1em 1em 0;
  font-family:'Srisakdi', cursive;
}
.row img{ margin:-0.5em 0 0 -10em; }
.nav-links nav{
  float:right;
  margin:-3.5em 7em 0 0;
}
nav li {
 display: inline-block;
 font-family:cursive;
 font-size:1.2em;
}
nav li a{
 transition:0.7s ease;
 text-decoration:none;
 color:white;
 padding:1em;
}
nav li a:hover{
 text-decoration:none;
 font-size:17px;
 color:white;
}
.active{  color:#e6f9ff; }
.active:before{
    content:"";
    width:5%; 
    position:absolute;
    background-color:deepskyblue;
    margin:30px 0 0 -9.5px;
    border: 1px solid transparent;
    transition:all 0.2s;
}
.active:hover{ color:#b3ecff; }
.active:hover:before{
    width:5%;
    background-color:white;
}
.login{
  background-color:deepskyblue;
  color:#FFF;
  border-radius: 30% 70% 72% 28% / 26% 52% 48% 74%;
  padding:15px;
}
.login:hover{
 background-color:white;    
 color:deepskyblue;
}
.slider{
  overflow:hidden;
  width:100%;
  height:600px;
}
.slider figure div{
  float:left;
  width:33.3%;
}
.slider figure img{
  width:100%;
  height:600px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  float:left;
}
.slider figure{
  position:relative;
  width:300%;
  animation:animate 20s infinite;
}
.slider h1{
  position:absolute;
  color:mintcream;
  font-size:60px;
  padding:250px;
  background:rgba(49, 37, 37, 0.4);
  width:100%;
  height:600px;
}
@keyframes animate
{
  0%{left:0%;}
  10%{left:0%;}
  20%{left:-100%;}
  30%{left:-100%;}
  40%{left:-200%;}
  50%{left:-200%;}
  60%{left:-100%;}
  70%{left:-100%;}
  80%{left:0%;}
  90%{left:0%;}
  100%{left:0%;}  
}

 
 
 
 

