*{
  margin:0;
  padding:0;
}
body{
  background:#0b0c22;
  height:3000px;
  overflow-X:hidden;
}
body::-webkit-scrollbar{  width:20px; }
body::-webkit-scrollbar-thumb{
  border-radius:100px;
  background:white;
  box-shadow:inset 2px 2px 2px rgba(255, 255, 255, 0.25),inset -2px -2px -2px rgba(0,0,0,0.25);
  max-height:5px;
}
body::-webkit-scrollbar-track{
   margin-top:80px;
   background:#0b0c22;
}
header{
  background: #0b0c22;
  height:5em;
  box-shadow:0px 0px 17px 0px;
  transition:all 0.5s ease-in;
}

.row{  display:flex; }
.row .logo{
  background:white;
  margin:0.4em 2em 0 3em; 
  height:60px; 
  border-radius:50px;
  border:4px solid deepskyblue;
}
.row p{
  color:white;
  font-size:20px;
  margin:1.8em 1em 1em 0;
  font-family:'Srisakdi', cursive;
}
.row img{ margin:-0.5em 0 0 -10em; }
.nav-links nav{
  float:right;
  margin:-3.5em 7em 0 0;
}
nav li {
 display: inline-block;
 font-family:cursive;
 font-size:1.2em;
}
nav li a{
 transition:0.7s ease;
 text-decoration:none;
 color:white;
 padding:1em;
}
nav li a:hover{
 text-decoration:none;
 font-size:17px;
 color:white;
}
.active{  color:#e6f9ff; }
.active:before{
    content:"";
    width:5%; 
    position:absolute;
    background-color:deepskyblue;
    margin:30px 0 0 -9.5px;
    border: 1px solid transparent;
    transition:all 0.2s;
}
.active:hover{ color:#b3ecff; }
.active:hover:before{
    width:5%;
    background-color:white;
}
.login{
  background-color:deepskyblue;
  color:#FFF;
  border-radius: 30% 70% 72% 28% / 26% 52% 48% 74%;
  padding:15px;
}
.login:hover{
 background-color:white;    
 color:deepskyblue;
}
.slider{
  overflow:hidden;
  width:100%;
  height:600px;
}
.slider figure div{
  float:left;
  width:33.3%;
}
.slider figure img{
  width:100%;
  height:600px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  float:left;
}
.slider figure{
  position:relative;
  width:300%;
  animation:animate 20s infinite;
}
.slider h1{
  position:absolute;
  color:mintcream;
  font-size:60px;
  text-align:center;
  padding-top:250px;
  background:rgba(49, 37, 37, 0.4);
  width:33.3%;
  height:350px;
}
@keyframes animate
{
  0%{left:0%;}
  10%{left:0%;}
  20%{left:-100%;}
  30%{left:-100%;}
  40%{left:-200%;}
  50%{left:-200%;}
  60%{left:-100%;}
  70%{left:-100%;}
  80%{left:0%;}
  90%{left:0%;}
  100%{left:0%;}  
}
.container-main{
  display:flex;
  width:100%;
}
.container-img{
  position:absolute;
  margin:-14em 0 0 0;
}
.container-content{
 min-width:50%;
 margin:6em 0 0 3em;
 text-align:center;
}
.container-content p{
  font-size:50px;
  font-family:'Courgette', cursive;
  color: #ffd633;
  word-spacing:30px;
}
.container-content span {
color:#ff80bf;
font-family:'Great Vibes', cursive;
}
.container-content button{
  border-radius:20px;
  border:3px solid black;
  background: #ffd633 ;  color:black;
  padding:2em 5em 2em 5em;
  margin:3em 0 3em 0;
  font-family:'Rye', cursive;
}
.container-content h4{
  color:#ffccf2;
  font-size:50px;
  font-family:'Long Cang', cursive;
}
.calender{
  max-width:50%;
  padding:4em 0 0 5em;
  text-align:center;
}
.container-cal{
  position:absolute;
  padding:5em 0 5em 0;
  width:10em; 
  margin:10em 0 0 5.5em;
  background:#ffccf2;
  border:2px solid black;
  -webkit-box-reflect:below 1px linear-gradient(transparent, transparent, #0004);
}
.calender h1{
  font-family:'Arizonia', cursive;
  margin-left:1em;
  font-size:50px;  font-weight:300;
  color:#ffb3d9;
}
.calender #month{
  padding:5px 15px;
  font-weight:700;
  font-family:'Rye', cursive;
  font-size:25px;
  background:#ff80bf;  color:#800040;
}
.container-cal #day{
  color: 	#ff3333;
  font-family:'Satisfy', cursive;
  font-size:20px;
}
.container-cal #date{
  color:#cc0066;
  font-weight:700;
  font-size:100px;
}
.container-cal #year{
  padding-top:5px;
  font-weight:700;
  font-size:20px;
  color:#4d001f;
}
.main img, .paw1 img, .paw2 img, .foot1 img, .foot2 img,.tail img{
  position:absolute;
}
.main img{
   margin:2em 0 0 -9.5em;   
   height: 9em;
}
.paw1 img{ margin:10em 0 0 -6.5em;  }
.paw2 img{ margin:11em 0 0 3.5em;  }
.foot1 img{
  height:6em;
  margin:16em 0 0 -7em;
}
.foot2 img{
  height:6em;
  margin:16em 0 0 5.2em;
}
.tail img{
  margin:10em 0 0 5.1em;
  height:10em;
  z-index:-2;
}

section .scroll{
    position:absolute;
    background-image:url('../images/quality.jpg');
    height:500px;   width:500px;
    left:100px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin-top:1000px;
    clip-path:circle(150px);
  }
  .title{
    position:absolute;
    margin-top:1200px;    left:250px;
    z-index:2;
    font-size:70px;
    color:#f2f2f2;
    font-family:'Arizonia', cursive;
  }
  .quality{
    margin-left:650px;
    font-size:20px;
    letter-spacing:1.5px;
    line-height:30px;
    margin-top:1100px;  margin-right:100px;
    font-family:cursive;
    position:absolute;
    color:#d9d9d9;
  }
  
 
 
 

